[submodule "lib/whole_seg"]
	path = lib/whole_seg
	url = https://github.com/searobbersduck/RetinalImagesVesselExtraction.git
[submodule "lib/od_det"]
	path = lib/od_det
	url = https://github.com/searobbersduck/mask_rcnn_pytorch.git
